<div id="fullpage">
  <% @featured_courses.each do |course| %>
  <div class="section" style="background-image: url(<%= course.image %>)">
    
    <div class="course_info col-md-12 col-lg-6">
      <p class="category">Featured Course</p>
      <h1 class="featured-course-title"><%= link_to course.title, course_path(course) %></h1>
      <hr class="featued-course-title-hr">
      
      <div class="col-sm-12 col-md-4 .featured-course-img-wrapper"><%= image_tag course.image.course, class: 'featured-course-img' %></div>
      <div class="view_course col-sm-12 col-md-8">
        <p class="feature-description"><%= truncate course.description, :length   => 180, :separator => /\w/,
        :omission => "..." %></p>
        
        <ul class="tags">
          <% course_tags_for_display(course.tags).each do |tag| %>
          <li class="tag"><%= tag %></li>
          <% end %>
          
        </ul>
        <%= link_to 'View Course', course_path(course), class: 'btn btn-primary btn-large' %>
      </div>
    </div>
    
    <div class="section-bg" ></div>
  </div>
  
  <% end %>
  <div id="home-footer" class="section text-center" style="background-image: url(assets/footerbg.jpg)">
    <div class="section-bg" ></div>
    
    
    <div class="col-sm-12 col-md-3 teachers">
      <b>Teachers</b>
      <br />
      <%= link_to 'Teach a Course', new_instructor_course_path %>
      <br />
      <%= link_to 'My Dashboard', dashboard_path %>
    </div>
    <div class="col-sm-12 col-md-3">
      <b>About</b>
      <br />
      <%= link_to 'Team', '#' %>
      <br />
      <%= link_to 'Careers', '#' %>
      <br />
      <%= link_to 'Privacy Policy', privacy_path %>
    </div>
    <div class="col-sm-12 col-md-3">
      <b>Contact</b>
      <br />
      Matt@mbtdesigns.com
      <br />
      7724 Mouse Creek Rd NW
      <br />
      Cleveland TN, 37312
    </div>
    <div class="col-sm-12 col-md-3">
      <b>Social</b>
      <br />
      <br />
      <%= link_to 'http://github.com/makproductions06' do %>
      <%= image_tag 'github.png', class: 'social-button' %>
      <% end %>
      <%= image_tag 'linkedin.png', class: 'social-button' %>
      <%= image_tag 'twitter.png', class: 'social-button' %>
    </div>
    
  </div>
</div>
