<div class="devise-wrapper">
  <h1>
    Sign In
    
  </h1>
  
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="float-label">
    
    <%= f.email_field :email, autofocus: true %>
    <%= f.label :email, id: "email" %>
    
  </div>
  
  
  <div class="float-label">
    <%= f.password_field :password, autocomplete: "off", id: 'pw' %>
    <%= f.label :password %>
  </div>
  
  <%= f.submit "Sign in", class: "btn" %>
  <%= render "devise/shared/links" %>
  
  
  <% end %>
</div>
