<!DOCTYPE html>
<html>
<head>
  <title>CourseHub</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/5.0.2/video.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/jquery.fullPage.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/vendors/scrolloverflow.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/jquery.fullPage.js"></script>
  
</head>
<body>
  <% if current_page?(root_url) %>
  <%= render partial: 'layouts/home_nav' %>
  <% else %>
  <%= render partial: 'layouts/nav' %>
  <% end %>
  <%= yield %>
  
  
  
</body>
</html>
